header {
    grid-column: 1 / 3;
    grid-row: 1;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 40px;
    box-sizing: border-box;
    background-color: #6e0707;
    /* #5a0202
    #3a3b3d
    #aa2727
    */
}
#header_acronym {
    flex-grow: 1;
}

#header_acronym h1 a {
    color: #e4e4e4;
}
#header_menu-button {
    position: absolute;
    min-width: 30px;
    line-height: 20px;
    cursor: pointer;
    font-size: 1.2rem;
    color: #e4e4e4;
}

#header_logo-fatec {
    max-width: 100px;
    position: absolute;
    right: 40px;
}
