* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
    font-family: "Mukta", sans-serif;
}

a {
    color: black;
}

body {
    background-color: #e0e0e0;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: minmax(auto, 0px) auto;
}

main {
    grid-column: 2;
    grid-row: 2;
    padding: 20px 45px;
    box-sizing: border-box;
}
